*::-moz-selection {
    background: #ffcc00;
    color: #000000;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #000000;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}
dropdown-item:focus, .dropdown-item:hover {
    text-decoration: none;
    background-color: #000000;
}

ul.dropdown-menu {
    background-color: #000;
}


.alert {
   width:50%;
}
.bgyellow{
	color:#FCBE07;
}
.bgyellowbg{
	background-color:#FCBE07;
}
.bggrey{
	width: 100%;
	background-color:#C9C9C9;
}
.bgblack{
	color:#FFFFFF;
	background-color:#000000;
}
.right{
    text-align: right;
}
.card75{
	width: 75%;
}
.card60{
	width: 60%;
}
.card50{
	width: 50%;
}
.card25{
	width: 25%;
}
.searchbar{
	width: 50%;
}
.headerbanner{
	color: #141412;
	display: block;
	margin: 0 auto;
	height: 80px;
	height: 5rem;
	padding: 0 20px;
	padding: 0 1.25rem;
	text-decoration: none;
	width: 100%;
	background: #FFCC00 url('//static/images/header-background80.png') center center no-repeat;
		background-color: rgb(255, 204, 0);
		background-image: url("/static/images/header-background80.png");
		background-repeat: no-repeat;
		background-attachment: scroll;
		background-clip: border-box;
		background-origin: padding-box;
		background-size: auto auto;
}
.bg{
    font-family:
	-apple-system, BlinkMacSystemFont,
	"Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
	"Helvetica Neue", sans-serif;
	
    font-size: 108px;
	font-weight: bold;
	/*line-height: .75;*/
	margin: 0 auto;
	width: 100%;
	justify-content: space-around;
	text-align: center;
	text-decoration: none;
}
.bg2{
    font-family:
	-apple-system, BlinkMacSystemFont,
	"Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
	"Helvetica Neue", sans-serif;
	
    font-size: 40px;
	font-weight: bold;
	/*line-height: .75;*/
	margin: 0 auto;
	width: 100%;
	justify-content: space-around;
	text-align: center;
	text-decoration: none;
}
.bg3{
    font-family:
	-apple-system, BlinkMacSystemFont,
	"Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
	"Helvetica Neue", sans-serif;
	
    font-size: 16px;
	font-weight: bold;
	/*line-height: .50;*/
	margin: 0 auto;
	width: 100%;
	justify-content: space-around;
	text-align: center;
	text-decoration: none;
}
.bgProfile{
    font-family:
	-apple-system, BlinkMacSystemFont,
	"Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
	"Helvetica Neue", sans-serif;
    font-size: 16px;
	font-weight: bold;

}
.bgSubmit{
    font-family:
	-apple-system, BlinkMacSystemFont,
	"Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
	"Helvetica Neue", sans-serif;
	font-size: 20px;
	font-weight: bold;
	line-height: 1;
	text-align: center;
	text-decoration: none;
}
.scroll {
    background-color: #F8F8F8;
    width: 500px;
    height: 500px;
    overflow: scroll;
}
.wrapper {
  width:860px;
  margin:0 auto;
}
body {
	background: #C9C9C9;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	line-height: 1;
	margin: 0 auto;
	width: 100%;
	justify-content: space-around;
	text-align: center;
	padding: 120px 0;
}
p {
	color: #898989;
	line-height: 24px;
	margin: 0;
	padding-left: 30px;
	width: 98%;
	text-align: left;
	text-indent: -25px;
}
p a {
	color: #252525;
	text-decoration: underline;
}
p a:hover {
	color: #FF0000;
	/*color: #898989;*/
}
span {
	color: #898989;
	line-height: 24px;
	margin: 0;
	padding-left: 10px;
	width: 98%;
	text-align: left;
	text-indent: -25px;
}
span a {
	color: #252525;
	text-decoration: underline;
}
span a:hover {
	color: #FF0000;
	/*color: #000000;*/
}
spanNotification {
	color: #898989;
	line-height: 24px;
	margin: 0;
	padding-left: 10px;
	/*width: 98%;*/
	text-align: left;
	/*text-indent: -25px;*/
}
.bg4{
    font-family:
	-apple-system, BlinkMacSystemFont,
	"Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
	"Helvetica Neue", sans-serif;
    font-size: 16px;
	font-weight: bold;
	/*line-height: .50;*/
	/*padding-left: 10px;*/
	text-indent: -25px;
	margin: auto;
	width: 100%;
	justify-content: space-around;
	text-align: center;
	text-decoration: none;
}
.bg4 :hover {
	color: #FF0000;
}
td {
overflow: hidden;
max-width: 400px;
word-wrap: break-word;
}
.offcenter20left {
  margin: auto;
}
/*.wrapper {*/
 /* margin-left:-30%; /* adjust as desired */
/*}*/

#header {
	align-self: center;
	background-color: white;
	position: fixed;	
	top: 0;
	margin: 0 auto;
	padding: 0 0 0;
	text-align: center;
	width: 100%;
}
#header a.logo {
	display: block;
	margin: 0 auto;
	padding: 0;
	width: 98%;
}
#header a.logo img {
	border: 0;
	display: block;
	margin: 0 auto;
	padding: 0;
}
#header ul {
	margin: 0;
	/*padding: 20px 0 0;*/
}
#header ul li {
	display: inline;
	list-style: none;
	margin: 0;
	padding: 0 19px;
}
#header ul li a {
	color: #FFFFFF;
	display: inline-block;
	font-family:
	-apple-system, BlinkMacSystemFont,
	"Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
	"Helvetica Neue", sans-serif;
	
	font-size: 14px;
	font-weight: normal;
	margin: 0;
	padding: 0 0 3px;
	text-decoration: none;
	/*text-transform: uppercase;*/
}
#header ul li div a span:hover, #header ul li div a span.selected{
	color:#FFFFFF;
}
#header ul li a span:hover, #header ul li a span.selected{
	color:#FFFFFF;
}
/* This is the color that changes when you hover over the menu options*/
#header ul li a p:hover, #header ul li.selected a p{
	color: #FFFFFF;
}
#header ul li a span:hover, #header ul li.selected a span{
	/*color: #FF0000;*/
	background-color:#000000;
	color: #FFFFFF;
}
#content {
	text-align: center;
    width: 100%;
    height: 100%;
    margin: 10px auto;
}
#body {
	display: block;
	top: 50px;
	margin: 0 auto;
	text-align: center;
	width: 100%;
}
#body h1 {
	color: #fff;
	display: inline;
	font-family:
	-apple-system, BlinkMacSystemFont,
	"Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
	"Helvetica Neue", sans-serif;
	
	font-size: 35px;
	font-weight: normal;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}
#body h1 span {
	background: #252525;
	display: inline-block;
	padding: 15px 28px 12px;
}
#body div {
	display: block;
	margin: 0 auto;
	padding: 0;
	width: 100%;
}
#body div img {
	border: 2px solid #292929;
	margin: 24px 0 0;
	padding: 0;
	width: 50%;
}
#body div .article {
	margin: 0 auto;
	padding: 30px 30px 0;
	width: 560px;
}
#body div .article h2 {
	font-family:
	-apple-system, BlinkMacSystemFont,
	"Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
	"Helvetica Neue", sans-serif;
	
	font-size: 30px;
	font-weight: normal;
	margin: 0 0 30px;
}
#body div .article h3 {
	color: #252525;
	line-height: 24px;
	margin: 0;
	padding: 0;
}
#body div .article h4 {
	background: #252525;
	color: #fff;
	display: inline-block;
	font-family:
	-apple-system, BlinkMacSystemFont,
	"Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
	"Helvetica Neue", sans-serif;
	
	font-size: 30px;
	font-weight: normal;
	margin: 0 0 30px;
	padding: 8px 27px 10px;
}
#body div .article p {
	margin: 0 0 30px;
}
#body div ul {
	margin: 0;
	padding: 24px 10px 0;
	width: 940px;
}
#body div ul li {
	border: 2px solid #1a1a1a;
	display: block;
	list-style: none;
	margin: 0 0 13px;
	overflow: hidden;
	padding: 0;
}
#body div ul li .figure {
	border-right: 2px solid #1a1a1a;
	float: left;
	margin: 0;
	padding: 0;
	width: 376px;
}
#body div ul li img {
	border: 0;
	display: block;
	margin: 0;
	padding: 0;
	opacity: 0.8;
	transition: 0.5s ease-in-out;
}
#body div ul li .figure:hover img {
	opacity: 1;
}
#body div ul li div {
	float: left;
	margin: 0;
	padding: 63px 0 20px;
	width: 558px;
}
#body div ul li div h3 {
	color: #252525;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 25px;
	font-weight: normal;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}
#body div ul li div p {
	padding: 30px 30px 18px;
}
#body div ul li div a.more {
	background: #000;
	color: #fff;
	display: inline-block;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 18px;
	font-weight: normal;
	margin: 0;
	padding: 8px 28px;
	text-decoration: none;
	text-transform: uppercase;
}
#body div ul li div a.more:hover {
	color: #252525;
	background: #fff;
	border: 2px solid #252525;
}
#body > ul {
	margin: 0 auto;
	overflow: hidden;
	padding: 24px 0 0;
	width: 50%;
}
#body > ul li {
	display: block;
	float: left;
	/*margin: 0 10px 20px;*/
	padding: 0;
	width: 300px;
}
#body > ul li a {
	color: #000;
	display: block;
	font-family: poller_oneregular;
	font-size: 30px;
	font-weight: normal;
	margin: 0;
	padding: 0;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}
#body > ul li a img {
	border: 2px solid #1a1a1a;
	display: block;
	margin: 0;
	padding: 0;
	opacity: .8;
	transition: 0.5s ease-in-out;
}
#body > ul li a:hover img {
	opacity: 1;
}
#body > ul li a span {
	display: block;
	margin: 0;
	padding: 33px 0 0;
}
#body table {
	text-align: center;
	width: 100%;
	padding: 20px 0 0;
	margin: 0;
	color: #252525;
}
#body form {
	margin: 0 auto;
	padding: 24px 0 0;
	width: 100%;
}
#body form input, #body form textarea {
	border: 2px solid #252525;
	color: #252525;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: normal;
	margin: 0 0 37px;
	padding: 20px 10px;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
}
#body form textarea {
	height: 175px;
	overflow: auto;
	resize: none;
	width: 100%;
}
#body form #send {
	background: #252525;
	color: #fff;
	font-family: "Arial Black", Gadget, sans-serif;
	font-size: 20px;
	font-weight: normal;
	display: inline-block;
	padding: 20px 28px;
	width: auto;
}
#body form #send:hover {
	background: #fff;
	color: #252525;
	cursor: pointer;
}
#footer {
	position: fixed;
	bottom: 0;
	text-align: center;
	align-self: center;
	background: #252525;
	margin: 0;
	padding: 0;
	width: 100%;
}
#footer div {
	align-self: center;
	margin: 0;
	padding: 0;
	text-align: center;
	width: 100%;
}
#footer div p {
	color: #fff;
	align-self: center;
	text-align: center;
	margin: 0;
	padding: 0;
}
#footer div ul {
	display: block;
	float: right;
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: 50%;
}
#footer div ul li {
	display: block;
	float: left;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 50%;
}
#footer div ul li a {
	display: block;
	height: 44px;
	margin: 0;
	padding: 0;
	text-indent: 0;
	width: 44px;
}
#footer div ul li #gitlab {
	background: url("../faceboard/gitb.png") no-repeat fixed center; 
}
#footer div ul li #gitlab:hover {
	background: url("../faceboard/gitc.png");
}